.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --bg-color: #f5f5f5;
  --text-color: #6c757d;
  --accent-color: #ffd333;
  --contrast-color: #3d464d;
  --gray-color: #ccc;
}


/* General */
html, body {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

img {
  min-width: 100%;
  height: auto;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}


/* Header */

.header {
}
.header-top {
}
.container-fluid {
}
.row {
}
.col-md-4 {
}
.header-top-phone {

}
.bi {
}
.bi-telephone {
  margin-right: 8px;
}
.social-icons {
  /* display: flex; */
  justify-content: center;
}

.social-icons li {
  margin-right: 10px;
}
.social-icons-link {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  width: 31px;
  height: 31px;
  line-height: 28px;
  border-radius: 50%;
  float: left;
  text-align: center;
  transition: all .3s;
}

.social-icons-link:hover {
  background-color: var(--contrast-color);
  color: var(--accent-color);
}

.bi-facebook {
}
.bi-youtube {
}
.bi-instagram {
}
.btn-group {
}
.dropdown {
}
.btn {
  /* --bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem; */
}
.btn-secondary {
}
.dropdown-toggle {
}
.dropdown-menu {
}
.dropdown-item {
}

.header-middle {
}

.form-control:focus {
  border-color: var(--accent-color);
  box-shadow: none;
}

.form-control::placeholder {
  color: var(--gray-color);
}

.cart-buttons {
}

.header-bottom {
}



/* Main */
.main {
}


/* Footer */
.footer {
}